<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" 
                    href="{{ .URL }}" title="{{ .Title }}">
                    {{ .Name | title }}
                </a>               
                {{ end }}
                </li>
            </ul>
        </div>
    </div>
</nav>